{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'todo_list/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div id="header">
        <h1 class="project-name">TODO LIST</h1>
        <a class="link" href="{% url 'home' %}">Home</a>
        <a class="link" href="{% url 'addtask' %}">New task</a>
    </div id="header">

    {% block content %}
    <div class="page">

    </div>
    {% endblock %}

</body>
</html>